*{
    box-sizing: border-box;
}

/* Mengatur font yang dipakai dan background halaman #038ade */
body{
    font-family: Arial;
    background: #038ade;
    margin: 0;
}

/* Membuat container menjadi layout flex dan kotak login ditengah */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Mengatur kotak form login lebar 400px dan background #fff */
.login-box{
    flex-basis: 400px;
    margin-top: 150px;
    background: #fff;
    padding: 20px;
}

/* Mengatur judul form dengan warna #555 dan border bawah dengan warna #ccc dan posisi di tengah */
.login-box h2{
    color: #555;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 20px;
}

/* Mengatur agar tag input dan select memenuhi container dan tampilan lebih bagus (warna border #ccc) */
input, select{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

/* Mengatur tampilan tombol submit (warna text #fff dengan background #038ade) */
input[type=submit]{
    color: #fff;
    background-color: #038ade;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/* Mengatur design header (background #038ade dan color #fff) */
header{
    background: #038ade;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
}

/* Mengatur lebar menu 20% dengan background hitam (#222) */
aside{
    flex: 20%;
    background: #222;
}

/* Mengatur lebar konten utama 80% dengan background putih (#fff) */
section.main{
    flex: 80%;
    background: #fff;
    min-height: 530px;
    padding: 15px 20px;
}

/* Mengatur footer dengan background abu-abu (#ccc) dan text di tengah (warna text #555) */
footer{
    background: #ccc;
    color: #555;
    padding: 20px;
    text-align: center;
}

/* Mengatur layout pada layar kecil (responsive) */
@media(max-width: 700px){
    .container{
        flex-direction: column;
    }
}

/* Navigasi */
/* Membuang padding tag <ul> */
.menu{
    padding: 0;
}

/* Menambah border bawah tag <li> (warna border #444) */
.menu li{
    border-bottom: 1px dotted #444;
}

/* Mengatur design menu yang dibuat dengan tag <a> (warna text #fff) */
.menu a{
    color: #fff;
    display: block;
    padding: 20px 20px;
    list-style: none;
    text-decoration: none;
}

/* Mengganti warna background menu menjadi #000 ketika ditunjuk mouse */
.menu a:hover{
    background: #000;
}